{% extends 'base.html.twig' %}

{% block title %}Gestion du compte{% endblock %}

{% block body %}

    <div class="container-fluid">

        {# Side-menu permettant d'afficher des liens collés à l'écran, quel que soit la position de l'utilisateur sur la page #}
        <div class="row p-4 side-menu">
            <p class="fs-4 text-center fw-bold text-decoration-underline">Menu</p>

            <ul>

                {% if is_granted('ROLE_ADMIN') %}

                    <li><a href="{{ path('project_list') }}" class=" color-primary text-decoration-none">Accéder à tous les articles</a></li>
                    <li><a href="{{ path('service_list') }}">Voir les résumés de séances</a></li>
                    <li><a href="{{ path('project_create') }}">Écrire un nouvel article</a></li>

                {% else %}

                    <li class="mx-3"><a href="{{ path('service_interface') }}" class=" color-primary text-decoration-none">Écrire un résumé de séance</a></li>
                    <li><a href="{{ path('project_interface') }}">Accéder à mes résumés de séances</a></li>
                    <li><a href="{{ path('service_interface') }}">Accéder aux articles</a></li>

                {% endif %}


            </ul>

        </div>

        {# Titre principal de la page #}
        <div class="row my-5">
            <h1 class="text-center">Informations du compte</h1>
        </div>

        {# Titre secondaire de la page reprenant l'identité de l'utilisateur #}
        <div class="row my-3">
            <h2 class="text-center">{{ app.user.firstName }} {{ app.user.lastName }}</h2>
        </div>

        {# Affichage de la photo de profil #}
        <div class="row my-5">
            <div class="col-12 text-center">
                {# Contrôle si l'utilisateur a une photo ou pas #}
                {% if app.user.photos %}
                    <p class="fs-4 text-center">Photo de profil: </p>
                    <div>
                        <img src="{{ app.user.photos|imagine_filter('show_picture') }}" class="img-fluid img-thumbnail profil-picture" alt="">
                    </div>
                {% else %}
                    <p class="fs-4 text-center">Photo de profil: </p>
                    <div>
                        <img src="{{ asset('images/Portrait_Placeholder.png')|imagine_filter('show_picture') }}" class="img-fluid img-thumbnail profil-picture" alt="">
                    </div>
                {% endif %}
            </div>
        </div>

        {# Informations du compte #}
        <div class="row my-5">

            <div class="col-12 text-center">

                <ul class="list-unstyled">

                    {# Affichage de l'adresse e-mail #}
                    <li class="fs-4 my-2"> <i class="fas fa-envelope"></i> Adresse e-mail: {{ app.user.email }}</li>

                    {# Contrôle si l'utilisateur a un numéro de téléphone ou pas #}
                    {% if app.user.phone %}

                        <li class="fs-4 my-2"> <i class="fas fa-phone-square-alt"></i> Téléphone: {{ app.user.phone }}</li>

                    {% else %}

                        <li class="fs-4 my-2"> <i class="fas fa-phone-square-alt"></i> Téléphone: <span class="fst-italic">non renseigné</span></li>

                    {% endif %}

                    {# Contrôle si l'utilisateur à renseigné un code postal ou pas #}
                    {% if app.user.zipCode %}

                        <li class="fs-4 my-2"> <i class="fas fa-map-marked"></i> Code postal : {{ app.user.zipCode }}</li>

                    {% else %}

                        <li class="fs-4 my-2"> <i class="fas fa-map-marked"></i> Code postal : <span class="fst-italic">non renseigné</span></li>

                    {% endif %}

                    {# Contrôle si l'utilisateur à renseigné une ville ou pas #}
                    {% if app.user.city %}

                        <li class="fs-4 my-2"> <i class="fas fa-map-marker-alt"></i> Ville : {{ app.user.city }}</li>

                    {% else %}

                        <li class="fs-4 my-2"> <i class="fas fa-map-marker-alt"></i> Ville : <span class="fst-italic">non renseigné</span></li>

                    {% endif %}

                    {# Contrôle si l'utilisateur a renseigné une adresse ou pas #}
                    {% if app.user.address %}

                        <li class="fs-4 my-2"> <i class="fas fa-map-pin"></i> Adresse : {{ app.user.address }}</li>

                    {% else %}

                        <li class="fs-4 my-2"> <i class="fas fa-map-pin"></i> Adresse : <span class="fst-italic">non renseigné</span></li>

                    {% endif %}


                </ul>

            </div>

        </div>

        <div class="row my-5">

            <div class="mx-auto text-center d-flex justify-content-center">

                <form method="post" action="{{ path('account_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte?');">

                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">

                    {# Lien pour la modification du compte #}
                    <p class="mx-3"><a href="{{ path('account_edit', {'lastName': app.user.lastName}) }}" class="btn btn-outline-info text-decoration-none">Modifier le profil</a></p>

                    {# Lien pour la suppression du compte #}
                    <button class="btn btn-outline-danger w-md-50 mx-3"><i class="fas fa-trash-alt me-2"></i>Supprimer</button>

                </form>

            </div>
        </div>
    </div>

{% endblock %}