{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-12 form-container">
                <div class="col-lg-8 col-md-12 col-10 form-box text-center">

                    <div class="heading mb-3">
                        <h1 class="fs-4 text-light">Inscription</h1>
                    </div>

                    {{ form_start(registrationForm) }}

                        {{ form_row(registrationForm.lastName, {
                            label: 'Nom',
                            attr: {
                                placeholder: 'Nom'
                            },
                            row_attr: {
                                class: 'form-floating my-3',
                            },
                        }) }}

                        {{ form_row(registrationForm.firstName, {
                            label: 'Prénom',
                            attr: {
                                placeholder: 'Prénom'
                            },
                            row_attr: {
                                class: 'form-floating my-3',
                            },
                        }) }}

                        {{ form_row(registrationForm.email, {
                            label: 'Email',
                            attr: {
                                placeholder: 'Email'
                            },
                            row_attr: {
                                class: 'form-floating my-3',
                            },
                        }) }}

                        {{ form_row(registrationForm.phone, {
                            label: 'Téléphone (facultatif)',
                            attr: {
                                placeholder: 'Téléphone (facultatif)',
                            },
                            row_attr: {
                                class: 'form-floating my-3',
                            },
                        }) }}

                        {{ form_row(registrationForm.zipCode, {
                        label: 'Code postal (facultatif)',
                        attr: {
                            placeholder: 'Code postal (facultatif)',
                        },
                        row_attr: {
                            class: 'form-floating my-3',
                        },
                        }) }}

                        {{ form_row(registrationForm.city, {
                        label: 'Ville (facultatif)',
                        attr: {
                            placeholder: 'Ville (facultatif)',
                        },
                        row_attr: {
                            class: 'form-floating my-3',
                        },
                        }) }}

                        {{ form_row(registrationForm.address, {
                        label: 'Adresse (facultatif)',
                        attr: {
                            placeholder: 'Adresse (facultatif)',
                        },
                        row_attr: {
                            class: 'form-floating my-3',
                        },
                        }) }}

                        {{ form_row(registrationForm.plainPassword.first, {
                            label: 'Mot de passe',
                            attr: {
                                placeholder: 'Mot de passe'
                            },
                            row_attr: {
                                class: 'form-floating my-3',
                            },
                        }) }}

                        {{ form_row(registrationForm.plainPassword.second, {
                            label: 'Confirmation du mot de passe',
                            attr: {
                                placeholder: 'Confirmation du mot de passe'
                            },
                            row_attr: {
                                class: 'form-floating my-3',
                            },
                        }) }}

                    {# Affichage du recaptcha #}
                    <div class="mb-3">
                        <div class="mb-2 text-start fw-bold text-light">Captcha de sécurité</div>

                        {# La clé publique est récupérée en paramètre dans le fichier config/packages/twig.yaml #}
                        <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                    </div>

                        {#        {{ form_row(registrationForm.agreeTerms) }}#}

                        <button type="submit" class="btn bg-light w-100 mt-4">Créer mon compte</button>

                    {{ form_end(registrationForm) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    {# Fichier JS nécessaire pour faire fonctionner le recaptcha de Google #}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}