{% extends 'base.html.twig' %}

{% block title %}Editer un service{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 form-container">
                <div class="col-lg-8 col-md-12 col-10 form-box text-center">

                    {# Titre de la page d'edition #}
                    <div class="heading mb-5">
                        <h1 class="fs-1 text-light">Éditer un résumé de séance</h1>
                    </div>

                    {# Formulaire d'édition, inclus des labels pour le nom, la description et les précisions pour claire #}
                    {{ form_start(form) }}
                        {{ form_row(form.name, {
                            label: 'Titre du résumé de séance :',
                            label_attr: {
                                class: 'text-light display-6 fw-bold',
                            }
                        }) }}
                        {{ form_row(form.description, {
                            label: 'Description du résumé de séance :',
                            label_attr: {
                                class: 'text-light display-6 fw-bold',
                            }
                        }) }}
                        {{ form_row(form.sector, {
                            label: 'Precision pour Claire Saurel ( optionnel ) :',
                            label_attr: {
                                class: 'text-light display-6 fw-bold',
                            }
                        }) }}
                    {# Bouton pour valider l'édition du résumé #}
                    <button class="btn btn-light mt-4 w-100" type="submit">Éditer ce résumé de séance</button>
                    {{ form_end(form) }}
                    {# Annuler l'édition, qui redirige vers la view du résumé correspondant #}
                    <a class="btn btn-secondary mt-4 w-100 d-block fw-bold" href="{{ path('service_view', {'slug': slug}) }}">Annuler</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}



