{% extends 'base.html.twig' %}

{% block title %}Module orientation / reconversion{% endblock %}

{% block body %}

    <main class="main container-fluid col-lg-10 align-self-center  text-light ">

        {# Titre principal de la page #}
        <div class=" container-fluid col-lg-12 text-center row p-4">
            <h1 class="text-center fs-custom-1 mt-3 m-lg-3 col-xl-12">Orientation / reconversion</h1>
        </div>

        <section class="row justify-content-around section ">
            <div class="row mt-5 mb-3">
                <h2><u>Questions défilées :</u> </h2>
                <div class="marquee-rtl text-center p-5 my-lg-3">
                    <!-- le contenu défilant -->
                    <div class="msg">
                        <p class="h2 bg-opacity-75 ">

                            <img class="p-2 m-2" src="{{ asset('imageOrientation/postes de travail informatiques.png') }}" loading="lazy" width="80" height="80" alt="pensée étude">
                            Vos études ou votre travail n’ont pas ou plus de sens pour vous ?....<img class="p-2 m-2" src="{{ asset('imageOrientation/analyse statistique.png') }}" loading="lazy" width="80" height="80" alt="reconstruction">
                            Vous êtes en reconstruction (burn out, autre) et vous avez envie de construire un projet qui vous ressemble ?.....
                            <img class="p-2 m-2" src="{{ asset('imageOrientation/La pensée de résolution de Problème.png') }}" loading="lazy" width="80" height="80" alt="pensée étude">
                            Vous avez envie de vous autorisez à vivre vos rêves ?.....
                            <img class="p-2 m-2" src="{{ asset('imageOrientation/loupe.png') }}" loading="lazy" width="80" height="80" alt="pensée étude">
                            Vous cherchez du travail ? Oui, mais quoi ?....
                            <img class="p-2 m-2" src="{{ asset('imageOrientation/communication-and-media.png') }}" loading="lazy" width="80" height="80" alt="pensée étude">
                            Avez-vous répondu <strong>OUI ?</strong>....
                        </p>
                    </div>
                </div>
                {# Text  #}
                <div class="col-lg-8 offset-2 mx-auto  align-self-center">
                    <p class=" lh-lg text-justify h2">
                        <strong>BIENVENUE !</strong><br>
                        Partons à la découverte de ce que le  Coaching en orientation ou transition professionnel peut vous apporter …
                    </p>
                    <div class="col-lg-12 text-center">
                        <img class="img-fluid w-75" src="{{ asset('imageOrientation/shivaGalet.jpg') }}" alt="horizon" >
                    </div>
                    <div class="row">
                        <p class=" lh-lg text-justify h2">
                            Que vous soyez un un collégien, un lycéen, un étudiant, un jeune  diplômé, un professionnel en questionnement, en reconstruction, un inactif qui cherche à travailler, le coaching peut vous aider à définir une orientation nouvelle à travers la construction d’un projet professionnel qui vous correspond et qui vous permette de vivre selon vos valeurs.
                        </p>
                        <p class=" lh-lg text-justify h2">
                            Le coaching en orientation ou projet professionnel est un suivi personnalisé qui permet de mieux se connaître pour reprendre confiance, se relier à des projets, à ses rêves, et enfin il permet de mettre en place des actions concrètes pour un choix de vie professionnelle adapté.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row ligne-cover p-4 ">
                <hr class="col-8 mx-auto center ">
            </div>

            <div class="row mt-5 mb-3">
                <div class="col-lg-8 offset-2 mx-auto  align-self-center">
                    <div class="row text-center">
                        <h2 class=" lh-lg text-justify h2 ">COACHING INDIVIDUEL JEUNE</h2>
                        <p class=" lh-lg text-justify h2 ">
                            Face au désarroi des familles et des jeunes qui doivent s’orienter en fin de 3ème, après le bac ou à l’université et forte de mon expérience de maman, de coach et d’enseignante, j’ai créé UN MODULE ORIENTATION POUR LES PLUS JEUNES. Il peut être suivi soit en individuel, soit en petit groupe.
                        </p>
                        <div class="col-lg-12  text-center">
                            <img class="img-fluid w-50" src="{{ asset('imageOrientation/SeConnaitre.jpg') }}" alt="anxiete" >
                        </div>
                        <p class=" lh-lg text-justify h2">Les conditions d’un bon choix d’orientation sont d’abord de bien se connaître et d’avoir connaissance du type de travail qui nous conviendrait. Ensuite, il est possible de préparer son projet et de s’ entraîner pour réussir, comme un sportif !
                        </p>
                    </div>

                    <div class="row">
                        <h3>Le programme ORIENTATION comprend donc les 4 étapes suivantes :</h3>
                        <ol class=" lh-lg text-justify h3 m-2">
                            <li >Je me connais mieux.</li>
                            <li>J’analyse mon parcours scolaire et professionnel. Je prends connaissance du type de travail qui me convient.(Je vérifie l’adéquation ce que je suis/ l’activité professionnelle type que je désire entreprendre.)</li>
                            <li >Je fixe mon objectif professionnel de manière pertinente et en accord avec ce que je suis et ce que je désire entreprendre. Bilan éventuel avec la famille.</li>
                            <li >Je me prépare : CV, lettre de motivation, entretien et je m’entraîne et prends confiance en mon projet et en mes compétences.</li>
                        </ol>
                    </div>
                    <div class="border-1">
                        <p class=" lh-lg text-justify h2">Je passe à l’action et entreprends des recherches d’emploi ou de formation dans un objectif de réussite tel que fixé au départ.</p>
                        <div class="col-lg-12 text-center">
                            <img class="img-fluid w-50" src="{{ asset('imageOrientation/passeAction.jpg') }}" alt="anxiete" >
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="row ligne-cover p-4 ">
            <hr class="col-8 mx-auto center ">
        </div>

        <div class="row mt-5 mb-3 justify-content-around">
            <div class="row ">
                <p class="col-lg-8 mx-auto lh-lg h2 ">
                    Un accompagnement personnalisé (coaching) est possible pour accompagner le jeune dans sa recherche d’études mais ne fait pas partie du module d’orientation. Il peut être réalisé par ma partenaire, Fabienne BONIN, qui est conseillère d’orientation. Ce programme d’orientation peut se faire aux environs de Beaune, à votre domicile ou par visio si éloignement géographique.
                </p>
                <h2 class="col-lg-8 mx-auto lh-lg text-justify">ATELIERS COLLECTIFS ORIENTATION DES JEUNES</h2>
                <h3><u>Questions défilées :</u><br></h3>
                <div class="marquee-rtl text-center p-5">
                    <!-- le contenu défilant -->
                    <div class="msg">
                        <p class="h2 bg-opacity-75 ">
                            Vous souhaitez préparer l’orientation des jeunes en les aidant à mieux se connaître au travers d’un atelier collectif ?.....
                            Vous souhaitez aider les jeunes à se préparer à un entretien d’embauche au travers de mise en situation collective ?.....
                            Vous souhaitez aider les jeunes dans la préparation de CV, de lettres de motivation ?.....
                            Que vous soyez un établissement scolaire, une association de parents d’élèves, un centre d’action social, un organisme, une association, je vous propose des ateliers sur-mesure que nous co-construisons en fonction de vos besoins.
                        </p>
                    </div>
                </div>
                <div class="col-lg-8 mx-auto lh-lg text-center">
                    <img class="img-fluid w-50" src="{{ asset('imageOrientation/colorOrient.jpeg') }}" alt="passe à l'action" >
                </div>
                <p class="col-lg-8 mx-auto lh-lg h2 ">
                    Les ateliers collectifs de coaching ORIENTATION DES JEUNES permettent, par des mises en situation et des exercices divers, de mieux définir qui ils sont, la place qu’ils souhaitent avoir dans la société et d’acquérir de la confiance dans leur recherche d’orientation.<br>
                </p>
            </div>
            <div class="row mt-5 mb-3">
                <div class="row m-2">
                    <h3 class="col-lg-8 mx-auto lh-lg h2 ">COACHING INDIVIDUEL RECONVERSION</h3>
                    <p class="col-lg-8 mx-auto lh-lg h2 "><strong>Changer, réaliser ses rêves :</strong></p>
                    <ul class="col-lg-8 mx-auto lh-l h3 offset-2" >
                        <li >C’est douter</li>
                        <li >Etre ballotté par l’incertitude de l’avenir</li>
                        <li >Perdre confiance en soi</li>
                        <li >Arriver à faire le deuil de ses expériences passées</li>
                        <li >Oser sortir de sa routine</li>
                        <li >Etre en conflit avec son entourage</li>
                        <li >Avoir des difficultés à faire un choix</li>
                    </ul>
                    <p class="col-lg-8 mx-auto lh-lg h2 ">Le coaching en reconversion consiste à :</p>
                    <ol class="col-lg-8 mx-auto lh-lg h3 ">
                        <li >ME CONNAÎTRE ET REPRENDRE CONFIANCE EN MOI</li>
                        <li >ME RELIER A MES PROJETS, MES REVES</li>
                        <li >M’ELANCER VERS UN AVENIR DESIRABLE</li>
                    </ol>
                </div>
            </div>
            <div class="row ligne-cover p-4 ">
                <hr class="col-8 mx-auto center ">
            </div>

            <div class="col-lg-10 offset-2 mx-auto  align-self-center">
                <div>
                    <h3 class="col-lg-10 mx-auto lh-lg h2 "><strong>Ma contribution ?</strong></h3>
                    <p class="col-lg-10 mx-auto lh-lg h2  pb-3">Par l’entretien, le jeu, des mises en situation, je vous permets d’être plus à même de faire un choix éclairé.</p>

                </div>
            </div>

        </div>

    </main>






{% endblock %}

