{# Variable twig contenant le nom de la route actuelle pour le menu #}
{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="CS Coaching, Coach et formatrice, gestion du stress">
    {# Bootstrap #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {# FontAwesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    {# Styles #}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {# FAVICON #}
    <link rel="icon" type="img/png" href="{{ asset('favicon-32x32.png') }}">


    {# bloc pour ajouter du CSS/JS additionnel #}
    {% block css %}{% endblock %}

    {# Block pour le titre du document #}
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
</head>
<body>

{# navbar #}
<nav id="site-header" class=" navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">

        <a id="site-header" class="navbar-brand fs-4 text-success" href="#">
            <img id="img_logo" class="img-logo" src="{{ asset('/images/coaching-logo.jpg') }}" alt="Logo claire Saurel">
            <p id="text_logo text-success">Pour être l'auteur de sa vie</p>
        </a>
        {# Nom du site #}
        <a class="navbar-brand text-uppercase fw-bold fs-4 text-success" href="{{ path('main_home') }}">CS Coaching</a>
        {# Logo du site #}
        {# Bouton burger #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            {# Liens pour tous les utilisateurs #}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                {# page : accueil #}
                <li class="nav-item">
                    <a class=" fs-4 text-success nav-link{{ route == 'main_home' ? ' active' }}" href="{{ path('main_home') }}">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="fs-4 text-success nav-link{{ route == 'admin_index' ? ' active' }} dropdown-toggle" href="#" id="profil-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Coaching</a>
                    <div class="dropdown-menu" aria-labelledby="profil-dropdown">
                        {# page : Coaching adulte #}
                        <a class=" dropdown-item" href="{{ path('main_coachingPro') }}">Coaching professionnel</a>
                        {# page : liste des managers #}
                        <a class="dropdown-item" href="{{ path('main_coachingScolaire') }}">Coaching scolaire et étudiant</a>
                        {# page : liste des clients #}
                        <a class="dropdown-item" href="{{ path('main_orientation_reconversion') }}">Orientation/reconversion</a>
                        {# page  déroulement d'un coaching pro #}
                        <a class="dropdown-item" href="{{ path('main_deroulement_coachingPro') }}">Déroulement d'un coaching pro</a>
                    </div>
                </li>

                {# page : profil pro #}
                <li class="nav-item dropdown">
                    <a class="fs-4 text-success nav-link{{ route == 'admin_index' ? ' active' }} dropdown-toggle" href="#" id="profil-dropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon profil pro</a>
                    <div class="dropdown-menu" aria-labelledby="profil-dropdown">
                        {# page : Coaching adulte #}
                        <a class="dropdown-item" href="{{ path('main_partenaires') }}">Mes partenaires</a>
                        {# page : liste des managers #}
                        <a class="dropdown-item" href="{{ path('main_revuesPresses') }}">Revues de presse</a>
                        {# page : à propos de moi : qui suis-je? #}
                        <a class="dropdown-item" href="{{ path('main_qui_suis_je') }}">A propos de moi</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class=" fs-4 text-success nav-link{{ route == 'article_list' ? ' active' }}" href="{{ path('article_list') }}">Articles</a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {# Liens uniquement pour les personnes non-connectées #}
                {% if not app.user %}
                    {# page : connexion #}
                    <li class="nav-item">
                        <a class=" fs-4 text-success nav-link{{ route == 'app_login' ? ' active' }}" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    {# page : inscription #}
                    <li class="nav-item">
                        <a class=" fs-4 text-success nav-link{{ route == 'app_register' ? ' active' }}" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                {% endif %}

                {# Liens uniquement pour les personnes connectées #}
                {% if app.user  %}
                    {# Liens uniquement pour les Admins #}
                    {% if is_granted('ROLE_ADMIN') %}
                        {# liste déroulante des interfaces d'administration #}
                        <li class="nav-item dropdown">

                            <a class="fs-4 text-success nav-link{{ route == 'admin_index' ? ' active' }} dropdown-toggle"
                               href="{{ path('admin_index') }}" id="profil-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">Interface d'administration</a>

                            <div class="dropdown-menu" aria-labelledby="profil-dropdown">

                                {# page : tous les profils #}
                                <a class="dropdown-item" href="{{ path('admin_index') }}">Tous les profils</a>

                                <div class="dropdown-divider"></div>

                                {# page : liste des résumés de séances des clients #}
                                <a class="dropdown-item" href="{{ path('resume_list') }}">Résumés de séances</a>

                                {# page : accès à la page de création des articles #}
                                <a class="dropdown-item" href="{{ path('article_create') }}">Écrire un article</a>

                            </div>

                        </li>
                    {% else %}

                    {# Liens uniquement pour les utilisateurs "clients" #}
                        {# page : gestion de compte #}
                        <li class="nav-item">
                            <a class=" fs-4 text-success nav-link{{ route == 'resume_list' ? ' active' }}" href="{{ path('resume_interface') }}">Résumés de séances</a>
                        </li>
                        <li class="nav-item">
                            <a class=" fs-4 text-success nav-link{{ route == 'account_show' ? ' active' }}" href="{{ path('account_show') }}">Compte</a>
                        </li>
                    {% endif %}

                {% endif %}

                {# Liens uniquement pour les personnes connectées #}
                {% if app.user %}
                    {# lien de déconnexion #}
                    <li class="nav-item">
                        <a class=" fs-4 text-success nav-link " href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% endif %}
            </ul>
            {# *********************  BARRE DE RECHERCHE ************************ #}
            {#                    <form class="d-flex" method="GET" action="#">#}
            {#                        <input name="q" class="form-control" type="search" placeholder="Rechercher..." aria-label="Search">#}
            {#                        <button class="btn bg-success btn-info" type="submit"><i class="fas fa-search"></i></button>#}

            {#                    </form>#}
        </div>
    </div>
</nav>

{# Message flashs en cas de succès #}
{% if app.session.flashBag.has('success') %}
    <div class="container">
        <div class="row">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center col-8 my-3 fw-bold" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

        </div>
    </div>
{% endif %}
{#        <h1 class="text-center" id="title">CS Coaching</h1>#}

{# Block pour le contenu de la page #}
<div class="min-vh-100">
    {# Block pour le contenu de la page #}
    {% block body %}{% endblock %}
</div>
{# lien haut #}
<div id="scroll_to_top">
    <a href="#site-header"><img src="{{ asset('/images/angle-double-up-solid.svg')  }}" alt="Retourner en haut" /></a>
</div>

{# footer #}
<footer class="footer container-fluid bg-custom-dark-celadon base-footer mx-auto">
    <div class="row py-3">
        {# partie réseaux sociaux #}
        <div class="col-4">
            <nav class="footer-nav-network py-4 px-3 text-center">
                <a target="_blank" href="https://www.facebook.com/claire.saurel.18"><i class="fab fa-facebook-f d-inline-block me-3 fa-2x"></i></a>
                <a target="_blank" href="https://www.instagram.com/claire.saurel/"><i class="fab fa-instagram d-inline-block mx-3 fa-2x"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/claire-saurel-49892539/"><i class="fab fa-linkedin-in d-inline-block ms-3 fa-2x"></i></a>
            </nav>
        </div>

        {# partie navigation #}
        <div class="row col-sm-8">
            <nav class="footer-nav row py-4 px-3">
                <div class="row col-4 w-md-50 "><a href="{{ path('main_cgu') }}" class="text-decoration-none fs-4">CGU </a></div>
                <div class="row col-4 w-md-50 "><a href="{{ path('main_contact') }}" class="text-decoration-none fs-4">Contactez-moi</a></div>
            </nav>
        </div>
    </div>

    {# copyright #}
    <div class="row text-center">
        <p class="copyright text-color-custom-1">© 2021 CS COACHING </p>
    </div>
</footer>

{# Inclusion JS Bootstrap #}
<script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>

{# bloc pour ajouter du JS additionnel #}
{% block js %}
    <script src="/public/js/to-top.js"></script>
{% endblock %}

</body>
</html>
