{% extends 'base.html.twig' %}

{% block title %}Editer un projet{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 form-container">
                <div class="col-lg-8 col-md-12 col-10 form-box text-center">

                    {# Titre de la page d'edition #}
                    <div class="heading mb-5">
                        <h1 class="fs-1 text-light">Éditer un article</h1>
                    </div>

                    {# Formulaire d'édition, inclus des labels pour le nom, la description et le domaine #}
                    {{ form_start(form) }}
                        {{ form_row(form.name, {
                            label: 'Titre de l\'article :',
                            label_attr: {
                                class: 'text-light display-6 fw-bold',
                            }
                        }) }}
                        {{ form_row(form.description, {
                            label: 'Description de votre article :',
                            label_attr: {
                                class: 'text-light display-6 fw-bold',
                            }
                        }) }}
                        {{ form_row(form.sector, {
                            label: 'Domaine :',
                            label_attr: {
                                class: 'text-light display-6 fw-bold',
                            }
                        }) }}
                    {# Bouton pour valider l'édition de l'article #}
                        <button class="btn btn-light mt-4 w-100" type="submit">Éditer cet article</button>
                    {{ form_end(form) }}
                    {# Annuler l'édition, qui redirige vers la view de l'article correspondant #}
                    <a class="btn btn-secondary mt-4 w-100 d-block fw-bold" href="{{ path('project_view', {'slug': slug}) }}">Annuler</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}



