{% extends 'base.html.twig' %}

{% block title %}Écrire un nouvel article{% endblock %}

{% block body %}

    <div class="container-fluid">

        {# Side-menu permettant d'afficher des liens collés à l'écran, quel que soit la position de l'utilisateur sur la page #}
        <div class="row p-4 bg-light side-menu">
            <p class="fs-4 text-center fw-bold text-decoration-underline">Menu</p>

            <ul>

                {% if is_granted('ROLE_ADMIN') %}

                    <li><a href="{{ path('project_list') }}" class=" color-primary text-decoration-none">Accéder à tous les articles</a></li>
                    <li><a href="{{ path('service_list') }}">Voir les résumés de séances</a></li>

                {% else %}

                    <li class="mx-3"><a href="{{ path('service_interface') }}" class=" color-primary text-decoration-none">Écrire un résumé de séance</a></li>
                    <li><a href="{{ path('project_interface') }}">Accéder à mes résumés de séances</a></li>
                    <li><a href="{{ path('service_interface') }}">Accéder aux articles</a></li>

                {% endif %}


            </ul>

        </div>

        <div class="row">

            <div class="col-8 offset-2 form-container">

                <div class="col-lg-8 col-md-8 col-8 form-box text-center p-3">

                    {# Titre de la page de création #}
                    <div class="heading mb-5 p-3">
                        <h1 class="fs-1 text-light">Écrire un nouvel article</h1>
                    </div>

                    {# Formulaire de création, inclus des labels pour le nom, la description et le domaine #}
                    {{ form_start(form) }}
                        {{ form_row(form.name, {
                            label: 'Titre de l\'article :',
                            label_attr: {
                                class: 'text-light display-6 fw-bold',
                            }
                        }) }}
                        {{ form_row(form.description, {
                            label: 'Description de l\'article :',
                            label_attr: {
                                class: 'text-light display-6 fw-bold',
                            }
                        }) }}
                        {{ form_row(form.sector, {
                            label: 'Domaine :',
                            label_attr: {
                                class: 'text-light display-6 fw-bold',
                            }
                        }) }}
                    {# Bouton pour valider la création de l'article #}
                    <button class="btn btn-light mt-4 w-100" type="submit">Valider cet article</button>
                    {{ form_end(form) }}
                    {# Annuler la création, qui redirige vers l'interface des projets' #}
                    <a class="btn btn-secondary mt-4 w-100 d-block fw-bold" href="{{ path('project_interface') }}">Annuler</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
